body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: #666;
}

.container {
  width: 550px;
  margin: 20px auto;
  padding-bottom: 80px;
  box-shadow: 2px 2px 10px #b4b4b4;
  background-image: url('https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form {
  padding: 50px 30px;
}

label {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 600;
  color: #4d4d4d;
}

input {
  display: block;
  width: 93%;
  margin: auto;
  padding: 13px;
  border: none;
  border-radius: 20px;
  background: #ffffff;
  opacity: 0.5;
  font-size: 24px;
}

input.submit {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  opacity: 1;
  background-color: #a07e80;
  cursor: pointer;
  font-size: 24px;
}